html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul{
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}

p{
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    background-image: url('./images/tmb_230708_419248.jpg');
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
    color:rgb(255, 223, 119);
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.340);
}

input {
  height: 60px;
  padding: 20px;
  border-radius: 20px;
  border: transparent;
  outline: none;
  font-size:x-large;
  text-align: center;
 
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container_title{
margin-bottom: 30px;
font-size: 60px;
}

.card-description{
padding-bottom: 20px;
padding-top: 20px;
padding-right: 20px;
text-align: left;
}

.card-title{
padding-top: 30px;
padding-bottom: 50px;
margin: 0;
text-align: center;
}

.card-content{
  font-size: 30px;

}
